.Lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 101.5vw;
    height: 100vh;
    background-color: #e2e1d6;
    overflow-y: scroll;
    position: absolute;
    right: -17px;
}