.SplashInput {
    width: 10em;
    padding: 0.25em;
    box-shadow: 0 0 0.5em #AAAAAA;
    margin-bottom: 2em;
    border: none;
    border-radius: 0.25em;
}

.SplashInput:focus-within {
    box-shadow: 0 0 1em #999999;
}